.retailer-wrapper {
    background: no-repeat padding-box #F8F8F8;
    width: 5.5rem;
    height: 5.5rem;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

li.prod-list {
    list-style: none;
}

.heading{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}
.imw{
    width: 65%;
    position: relative;
}
.product{
    margin-top: 30px;
    margin-bottom: 30px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 9;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }
  
  .ccc:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .cc1{
    width: 82%;
    background: #fff;
    color: #000;
    padding: 4px 8px;
    border: 1px solid #000;
    height: 40px;
    border-radius: 7px;
  }
  @media only screen and (max-width: 553px) {
    .card{
        margin-top: 25px;
    }
  }
  .card{
    border: 1px solid;
    padding: 10px;
  }

  p.text-center{
    font-size: 18px;
    font-weight: bold;
  }

  @media (max-width: 767px) {
            .d-grid.gap-3.justify-content-center.px-5.mb-5.chain {
                display: none !important;
            }
            .embed-responsive-item{
                height: 800px !important;
            }
        }

